@charset "UTF-8";
/* Add your custom css here instead of the css foundation file */

/*============================================================================================================
	HEADER
============================================================================================================*/
.row {
	max-width: 62.5rem;
}
.menu {
	background-color: #2f363b;
	padding: 1em 1em;
	height: 5rem;
}
.menu .inline-list {
	text-align: center;
	font-family: Museo;
}
.menu .inline-list li {
	float: none;
	display: inline-block;
	padding-bottom: 0.5rem;
}
.menu a {
	color: #fff;
	border: solid 1px transparent;
}
.menu a:hover {
	color: #f37721;
	transition: all .3s ease-in-out;
}
.menu .active a {
	color: #f37721;
}
.name {
	text-align: center;
	font-size: 1.5rem;
	font-family: Museo;
	line-height: 1;
	margin: 0 0 1rem 0;
	color: #fff;
}
.name i {
	color: #f37721;
	margin-right: 0.5rem;
}
.name img {
	width: 2rem;
	height: 3rem;
}

input, textarea {
	text-align:center;
}

form {
	width:30em;
	margin:0 auto;
}



@media only screen and (min-width: 40.063em) {
.menu .inline-list {
	float: right;
}
.menu a:hover {
	border: 1px solid #f37721;
}
.name {
	float: left;
	margin-top: -0.2em;
}
}
/*============================================================================================================
	HERO
============================================================================================================*/
.hero {
	background: url(../img/hero-keyboard-lg.jpg) no-repeat center top;/*===HERO IMAGE===*/
	background-size: 100rem;
	height: 100%;
}
.hero:before {
	content: '';
	position: absolute;
	top: 5rem;
	right: 0;
	bottom: -5rem;
	left: 0;
	background-image: linear-gradient(to bottom right, #002f4b, #f37721);
	height: 100%;
	opacity: .8;
}
.hero .intro {
	padding: 3rem;
	position: relative;
	top: 30%;
}
.hero h1 {
	color: #fff;
	font: museo slab;
	font-weight: bolder;
	font-style: italic;
	line-height: 1.5em;
	letter-spacing: -0.025em;
	text-align: center;
}
.hero p {
	color: #fff;
	line-height: 1.75em;
	font-family: Museo;
	font-size: 1.75rem;
	font-weight: lighter;
	text-align: center;
	margin-bottom: 2rem;
}
.hero p a {
	color: #FFFFFF;
	border-bottom: solid 1px #f37721;
}
.hero p a:hover {
	color: #f37721;
	transition: all .3s ease-in-out;
}

@media only screen and (min-width: 40.063em) and (max-width: 55em) {
.hero {
	background: url(../img/hero-keyboard-m.jpg) no-repeat center top;
	background-size: 100rem;
} /*===RESPONSIVE IMAGE BREAK===*/
.hero:before {
	content: '';
	position: absolute;
	top: 5rem;
	right: 0;
	bottom: -5rem;
	left: 0;
	background-image: linear-gradient(to bottom right, #002f4b, #f37721);
	opacity: .8;
}
}

@media only screen and (max-width: 40em) {
.hero {
	background: url(../img/hero-keyboard-sm.jpg) no-repeat top right;
	background-size: 50rem;
} /*===RESPONSIVE IMAGE BREAK===*/
.hero:before {
	content: '';
	position: absolute;
	top: 9.25rem;
	right: 0;
	bottom: -10.2rem;
	left: 0;
	background-image: linear-gradient(to bottom right, #002f4b, #f37721);
	opacity: .8;
}
.hero h1 {
	padding-top: 1.5rem;
	text-align:center;
	font-size: 6rem;
}
.hero p {
	text-align:center;
}
}
/*============================================================================================================
	End of Header / Hero
============================================================================================================*/

/* ============================================================================================================
    About Me
============================================================================================================*/

/*
#aboutandy {
	background: url(../img/about-me-andy.jpg) no-repeat;
	height: 50rem;
	background-size: contain;
	margin:0 auto;
}

*/
#aboutandy h2 {
	color: #F27721;
}
#aboutandy p {
	font-size: 1rem;
	color: #2F363B;
}
/* ============================================================================================================
    STREAM**************************************************
============================================================================================================*/
#streamc {
	position: relative;
	height: 100%;
	overflow: hidden;
	margin-left: 240px;
	margin-right: 240px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: block;
}
#stream {
	position: relative;
	margin-bottom: 5rem;
}
iframe {
	width: 100%;
	height: 40em;
}
#chat {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 250px;
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	margin-bottom: 5rem;
}
/* ============================================================================================================
    END OF STREAM**************************************************
============================================================================================================*/

.rules-section {
	text-align: center;
	background-color: #2F363B;
	padding-bottom: .5rem;
}
.rulestyle :last-child {
	margin: 0 0 2rem 0;
}

/*#F27721-alternative color*/

#rule-icon {
	padding: 2.5rem 0 0 0;
}
#rule-header {
	text-transform: uppercase;
	font-size: 2.5rem;
	margin: 1.5rem 0 1.5rem 0;
	color: #D8E1E5;
	text-decoration: underline;
	padding: 0 0 0 0;
}
.rulesytle {
	margin: 0 0 2rem 0;
	font-size: 1.1rem;
	color: #D8E1E5;
}
.panel {
	text-align: center;
	margin: 0 0 1.5rem 0;
	background-color: #2F363B;
	padding: .5rem 0 .5rem 0;
	max-width: 401px;
}
#library-header {
	text-align: center;
	text-transform: uppercase;
	padding: 0 0 1rem 0;
}
h3 {
	color: #D8E1E5;
	font-size: 1rem;
}
h2 {
	font-family: Museo;
}
/* ============================================================================================================
	End of KeeKay's Stuff
============================================================================================================*/




#test li a {
	color: #fff;
	background-color: transparent;
}
#test li a:hover {
	background-color: transparent;
	border: 1px solid #f37721;
}
#test li a:active {
	background-color: #f37721;
}
.button {
	border:2px solid #f37721;
	color:#f37721;
	background-color:transparent;
}
.button:hover {
	background-color: #cc631b;
}
.top-bar {
	height: 2.95em;
}
.bg-test {
	height: 25em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "museo slab";
}
.top-bar {
	background-color: #2f363b;
}
.top-bar.expanded .title-area {
	background: #2f363b;
}
.top-bar-section ul li {
	background: #2f363b;
}

/*-----------------------
			FOOTER
--------------------------*/

footer {
	background-color:#2f363b;
}

footer ul li {
	padding-top:1em; 
}

footer small {
	margin-top:10em; 
	color:#fff;
}


/*-----------------------
			END OF FOOTER
--------------------------*/

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
h1 {
	font-size: 5em;
	color: #fff;
}
img {
	height: auto;
}
#library-header {
	font-size: 2em;
}
.bg-test {
	background-color: green;
}

.top-margin {
	margin-top: 2em;
}

div p {
	font-size: 1.25em;
	line-height: 1em;
	color: #fff;
}


#aboutandy h2 {
	margin-top:.8em;
	font-size: 2em;
	line-height:1em;
	width:3.7em;
}

#aboutandy p {
	font-size:.9em;
	margin-top:1.813em;
	line-height:1.5em;
	width:16.75em;
}



form h3 {
	font-size: 2em;
	font-weight: 100;
}

form textarea {
	width: 100%;
	height: 5em;
}
iframe {
	height: 20em;
	width: 50%;
}
#logo {
	margin-top: .35em;
	margin-left: .5em;
	width: 1.75em;
	height: auto;
}
.box {
	width: 8em;
	height: 8em;
}

#streamc {
	width: 100%;
}
#chat {
	display: none;
}

/*
#aboutandy {
	height:19em;
}
#aboutandy {
	width: 30rem;
}
*/

.menu {
	height:auto;
		
}

.rules-section {
	margin:2.5em 0;
}

h4 {
	font-size:2em;
}

form {
	width:18em;
	
}

}

/* Medium screens
min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {

#logo {
	width: 1.75em;
	height: auto;
	margin-top: .4em;
	margin-left: .5em;
}
.top-margin {
	margin-top: 4.5em;
}
}

/* Tablet Size
min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

h1 {
	font-size: 6em;
}
div p {
	font-size: 1.3em;
}
.top-margin {
	margin-top: 1.2em;
}

#aboutandy h2, p {
	margin: 0 0 0 3em;
	
}
/*
#aboutandy {
	height:33rem;
	background-position:center;
}
#aboutandy {
	width: 50rem;
}*/

}

/*Large screens
  min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {

h1 {
	font-size: 5em;
	color: #fff;
}
div p {
	font-size: 1.2em;
	color: #fff;
}
.top-margin {
	margin-top: 1.75em;
}
}

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* XLarge screens
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
}

/*XXLarge screens
  min-width 1921px, xxlarge screens */
@media only screen and (min-width: 120.063em) {
}